.container-para{
    background-color: black;
    margin-top: 5rem;
   padding-top: 5rem;
}
  .column {
    float: left;
    width: 25%;
    padding: 0 30px;
  }
  .row{
    margin-left: 160px;
    margin-top: 50px;
  }
  
 